/*-------------------------------VARIABLES---------------------------*/
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$ternary-color:#99E2D0;
$logo-img:"./images/logo/ohmyfood.png";
$image-1: "./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg";
$image-2:"./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg";
$image-3:"./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg";
$image-4:"./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg";
/*-------------------------------FONTS---------------------------*/
@font-face {
    font-family: 'Shrikhand';
    src: url("fonts.googleapis.com/css?family=Shrikhand") format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url("fonts.googleapis.com/css?family=Roboto") format('truetype');
}
@media screen and (max-width : 768px) {
    @mixin horizontal-flexbox {
        display: flex;
        flex-direction: row;
      }
    @mixin vertical-flexbox {
        display: flex;
        flex-direction: column;
      }
    @mixin button-properties{
        background-color: $secondary-color;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;
        font-size: 125%;
    }

    .head-container{
        @include horizontal-flexbox();
        height: 40px;
        justify-content: center;
        
        .head-title{
            background-repeat: no-repeat;
            background-image :url($logo-img) ;
            background-size: contain;
            width:50%;
        }
        .back-arrow{
            position: absolute;
            left: 10px;
            top: 15px;
        }

    }

    .localization-container{
        @include horizontal-flexbox();
        justify-content: center;
        column-gap: 10px;
        background-color: rgb(199, 199, 199);
        padding: 20px
    }
    .introduction-container{
        @include vertical-flexbox();
        align-items: center;
        justify-content: center;
        height: 250px;
        padding: 0px 30px 0px 30px;
        row-gap: 20px;
        background-color: rgb(230, 230, 230);
        .main-text{
            padding: 0px 30px 0px 30px;
            font-size: 150%;
            font-weight: bold;
        }
        .sub-text{
            padding: 0px 20px 0px 20px;
            
        }
        .btn{
          @include button-properties();
        }
    }

    .how-it-works-container{
        @include vertical-flexbox();
        margin-left: 20px;
        margin-top: 20px;
        row-gap: 15px;

        .head-title{
            font-size: 150%;
            font-weight: bold;
        }
        .step-card{
            @include horizontal-flexbox();
            padding: 20px 0px 20px 0px;
            margin-right: 10px;
            background-color: lightgray;
            border-radius: 10px;
            box-shadow: 3px 3px 3px gray;
            .number{      
                @include horizontal-flexbox();     
                justify-content: center;     
                margin-left: -10px;
                background-color: $secondary-color;
                border-radius: 50%;
                width: 20px;
                height: 20px;
            }
            .mobile-icon{
                margin-left: 20px;
                margin-right: 20px ;
                color: gray
            }
            .action{
                font-weight: bold;
            }
        }
        
    }

    .restaurants{
        height: auto;
        margin-top: 50px;
        padding-bottom: 50px;
        background-color: lightgray;
        .inner-container{ 
            @include vertical-flexbox();
            margin-left: 20px;  margin-right: 20px;
            row-gap: 10px;
            .head-title{
                padding-top: 30px; padding-bottom: 10px;
                font-size: 150%;  font-weight: bold;
            }
            .menu-card{
                @include vertical-flexbox();

                .menu-img{
                    background-size: cover; background-repeat: no-repeat;
                    height: 200px;
                    border-radius: 30px 30px 0px 0px  ;
                }

                .description-container{
                    @include horizontal-flexbox();
                    justify-content: space-between;
                    background-color: white;
                    padding-left: 15px ; padding-top: 10px; padding-bottom: 15px;
                    border-radius: 0px 0px 30px 30px ;
                    .description{
                        @include vertical-flexbox();
                        row-gap: 5px;
                        .restaurant-name{
                            font-size: 125%; font-weight: bold;
                        }
                        .restaurant-loc{
                            font-size: 125%;
                        }

                    }
                    .heart-icon{
                        padding-top: 10px; padding-right: 15px;
                    }
                }
            }
        }
        
    }

    /*-------------------------------MENU-SPECIFIC CSS---------------------------*/
    .menu{
        .menu-img{
            background-size: cover; background-repeat: no-repeat;
            height: 200px
        }
        .detailed-menu-container{
            margin-top: -40px;
            background-color: lightgray;
            border-radius: 40px 40px 0px 0px;
            height:auto;

            .inner-container{ 
                @include vertical-flexbox();
                margin-left: 10px;
                margin-right: 10px;
                .menu-head-container{
                    @include horizontal-flexbox();
                    justify-content: space-between;
                    border-radius: 0px 0px 30px 30px ;
                    margin-bottom: 20px;
                    .menu-name{
                        font-size: 150%;font-weight: bold;
                        margin-top: 25px;
                    }
                    .heart-icon{
                        margin-top: 30px; margin-right:30px
                    }
                }

                .menu-subdiv-text{}
                .menu-subdiv-text:after{
                    content: ""; display: block; width: 20%; border-bottom: solid 5px; 
                    border-color: $ternary-color;
                }
                .menu-subdiv{
                    @include vertical-flexbox();
                    margin-top: 5px;
                    row-gap: 5px;
                    .menu-item{
                        background-color: white;
                        padding: 10px;
                        border-radius: 15px;
                        @include vertical-flexbox();
                        .item-name{
                            font-weight: bold;
                        }
                        .item-desc{
                            @include horizontal-flexbox();
                            justify-content: space-between;
                        }
                    }

                }
                .btn{
                    @include button-properties();
                    width: 100px;
                    align-self: center;
                    margin-bottom: 50px;
                   
                  }






            }            
       }
    }

    .footer{
        @include vertical-flexbox();
        height: 300px;
        background-color: darkgray;
        .logo{
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100px;
            height: 20px;
            background-image: url($logo-img);
            background-repeat: no-repeat;
            background-size: contain;
        }
        .img-text{
            @include horizontal-flexbox();
            column-gap: 10px;
            margin-left: 20px;
            margin-top: 5px;
        }
        .raw-text{
            margin-left: 20px;
            margin-top: 5px;

        }


    }
}
/*-------------------------------IMAGES---------------------------*/
.restaurant-image1{
    background-image: url($image-1);    
}
.restaurant-image2{
    background-image: url($image-2);    
}
.restaurant-image3{
    background-image: url($image-3);    
}
.restaurant-image4{
    background-image: url($image-4);    
}

/*----------------------------------GENERAL XFORMS--------------------------------*/

.spacing-div{
    margin-top: 10px;
}